---
// @ts-expect-error - https://github.com/withastro/language-tools/issues/741
interface Props {
  as?: string;
  href?: string;
}

const { href } = Astro.props;

const level = 1;
const Component = `h${level}`;

const className = `typography-heading-${level}`;
---

<Component class={className} id={href}>
  <a href={href}>
    <slot />
  </a>
</Component>
