---
import Markdown from "../Markdown.astro";
import Function from "./Function.astro";
import AttributesList from "./AttributesList.astro";
import Title from "./Title.astro";

export interface Props {
  name: string;
  klass: {
    name: string;
    docstring?: {
      value: string;
    };
    members: Array<{
      kind: string;
      name: string;
      docstring?: {
        value: string;
        parsed: {
          kind: string;
          value: {
            name: string;
            description: string;
          }[];
        }[];
      };
      parameters: Array<{
        name: string;
        default: string;
        type: string;
        docstring?: {
          value: string;
          parsed: {
            kind: string;
            value: {
              name: string;
              description: string;
            }[];
          }[];
        };
      }>;
    }>;
  };
}

const { name, klass } = Astro.props;

const methods = klass.members.filter((m) => m.kind === "function");
const attributes = klass.members.filter((m) => m.kind === "attribute");
---

<Title>{name}</Title>

{klass.docstring && <Markdown content={klass.docstring.value} />}

{
  attributes.length > 0 && (
    <>
      <h2>Attributes</h2>

      <AttributesList attributes={attributes} />
    </>
  )
}

{
  methods.length > 0 && (
    <>
      <h2>Methods</h2>
      <ul class="methods">
        {methods.map((method) => (
          <li>
            <Function name={method.name} fun={method} />
          </li>
        ))}
      </ul>
    </>
  )
}

<style>
  .methods {
    list-style: none;
    padding: 0;
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-g-300);
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }
  }
</style>
