---
import Markdown from "../Markdown.astro";
import FunctionSignature from "./FunctionSignature.astro";
import ParametersList from "./ParametersList.astro";

export interface Props {
  fun: {
    name: string;
  };
  open?: boolean;
}

const { fun, open = false } = Astro.props;

const parsedParameters = fun.docstring?.parsed.find(
  (item) => item.kind === "parameters",
);

const parametersDescriptions = parsedParameters
  ? parsedParameters.value.reduce((acc, item) => {
      console.log(item);
      acc[item.name] = item.description;
      return acc;
    }, {})
  : {};
---

<details open={open} class:list={{ top: open }}>
  <summary>
    <h1 class="typography-code">{fun.name}</h1>
  </summary>

  {fun.docstring?.value && <Markdown content={fun.docstring.value} />}

  <h2>Signature:</h2>

  <FunctionSignature fun={fun} />

  <h2>Parameters:</h2>

  <ParametersList
    parameters={fun.parameters}
    parametersDescriptions={parametersDescriptions}
  />
</details>

<style>
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    margin-block: 1rem;
    font-size: 1.5rem;
  }

  summary {
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    h1::after {
      font-size: 0.7em;
      vertical-align: middle;
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  :not(.top) summary {
    h1::after {
      content: "▲";
    }

    details[open] h1::after {
      content: "▲";
    }
  }
</style>
