---
import Markdown from "../Markdown.astro";
import Title from "./Title.astro";
import { removeQuotes } from "./utils/remove-quotes";

export interface Props {
  module: any;
  path: string;
  name: string;
}

const { name, module, path } = Astro.props;

const all = (
  module.members.find((item: any) => item.name === "__all__")?.value.elements ||
  []
).map((item: any) => removeQuotes(item));

module.members = module.members.filter(
  (member: { name: string; kind: string }) =>
    all.includes(member.name) || member.kind === "module",
);

type Member = (typeof module.members)[0];

const membersByKind: Record<Member["kind"], Member[]> = module.members.reduce(
  (acc: Record<Member["kind"], Member[]>, member: Member) => {
    if (!acc[member.kind]) {
      acc[member.kind] = [];
    }

    // @ts-ignore
    acc[member.kind].push(member);

    return acc;
  },
  {} as Record<Member["kind"], Member[]>,
);

const names = {
  alias: "Aliases",
  module: "Modules",
  class: "Classes",
} as const;

// sort all members by name
Object.values(membersByKind).forEach((members) => {
  members.sort((a, b) => a.name.localeCompare(b.name));
});

const parsed = module.docstring?.parsed || [];
const moduleDoc = parsed.length > 0 ? parsed[0]?.value : null;
---

<Title>{name}</Title>

{moduleDoc && <Markdown content={moduleDoc} />}

{
  Object.entries(membersByKind).map(([kind, members]) => (
    <>
      <h2>{names[kind as keyof typeof names] || kind}</h2>
      <ul>
        {members.map((member) => (
          <li class="typography-paragraph">
            <a href={`/docs/api/${path}.${member.name}`}>
              <code>{member.name}</code>
            </a>
          </li>
        ))}
      </ul>
    </>
  ))
}
