---
import FeedbackForm from "./FeedbackForm.astro";

export interface Props {
  authors: Array<{
    name: string;
    avatarUrl: string;
    login: string | null;
  }>;
}

const { authors } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;

const githubUrl = `https://github.com/strawberry-graphql/strawberry/edit/main${pathname}.md`;
---

<div>
  <footer>
    <div class="contributors">
      <p class="typography-label">Contributors:</p>

      <ul>
        {
          authors.map((author) => (
            <li>
              <a
                href={author.login ? `https://github.com/${author.login}` : ""}
                target="_blank"
                rel="noopener noreferrer"
                title={author.name}
              >
                <img src={author.avatarUrl} alt={author.name} />
                <span class="sr-only">{author.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="actions">
      <a href={githubUrl} class="typography-label"> Edit this page on GitHub</a>

      <FeedbackForm />
    </div>
  </footer>
</div>

<style>
  div {
    container-type: inline-size;
  }

  footer {
    margin-top: 24px !important;
    padding-top: 24px;
    border-top: 1px solid var(--color-g-100);
  }

  @container (max-width: 600px) {
    footer .actions {
      flex-direction: column;
      align-items: stretch;
      gap: 24px;
    }
  }

  :global(html.dark) footer {
    border-top-color: var(--color-g-900);
  }

  footer :global(form) {
    flex: 1 1 auto;
    margin-right: 24px;
    max-width: 500px;
  }

  .actions {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  a,
  .contributors {
    text-transform: uppercase;
    font-weight: bold;
    order: 1;
    flex: 0 0 auto;

    --border-color: var(--color-g-100);

    &:is(a):hover {
      color: var(--color-strawberry);
    }

    @container (max-width: 600px) {
      order: 0;
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 24px;
    }
  }

  :global(html.dark) :is(a, .contributors) {
    --border-color: var(--color-g-900);
  }

  .contributors {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 24px;
    margin-bottom: 24px;

    ul {
      display: contents;
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: -0.6em;
    }

    a {
      width: 1.6rem;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        background: white;
        object-fit: cover;
      }
    }

    p {
      margin: 0;
    }

    a:hover {
      position: relative;
      z-index: 10;
    }
  }
</style>
